@use 'variables' as var;

.welcome-page-container {
    background: transparent url('../assets/desktop-background.png') 0% 0%
        no-repeat padding-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2em;
}
