@use 'variables' as var;
@use 'mixins';
@use 'layout';
@use 'components';
// Override default variables before the import
// $body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.App {
    font-family: var.$font-family;
    height: 100vh;
    width: 100vw;
}
